.modelPolicyCard {
    --spectrum-alias-border-radius-medium: 4px;
    --spectrum-alias-border-size-thin: 2px;
    --spectrum-alias-border-color-focus: var(--energy-blue);
    --spectrum-alias-background-color-default: var(--spectrum-global-color-gray-200);
    --spectrum-alias-background-color-informative: var(--selection-dark-blue, #0c1e29);
}
